<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <!-- <script src="/send_url.js"></script> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- font -->
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <%- include('header'); %>
    <!-- About us cover -->
    <section class="aboutUsHeader">
        <h1>About Us</h1>
    </section>
    <!-- end of cover -->

    <!-- About us content -->
    <section class="container">
        <div class="LTdesc" style="margin-top: 7rem; margin-bottom: 7rem;">
            <p>
                <b style="font-style: italic;">LapakTani</b> is a web-based agricultural e-commerce. This platform is dedicated to our local farmers, helping them to promote and sell their crops and other farm products with ease.
            </p>
        </div>

        <div class="line"></div>

        <div class="vision d-flex justify-content-center">
            <div class="visionHeader  d-flex align-items-center justify-content-center">
                <h1><b>Vision</b></h1>
            </div>
            <div class="visionDesc">
                <p>We aim to be the biggest agricultural e-commerce in Indonesia, help local farmers to be more prosperous, and deliver fresh and locally sourced products</p>
            </div>
        </div>

        <div class="line"></div>

        <div class="mission d-flex justify-content-center">
            <div class="missionDesc">
                <p>Creating a handy platform for local farmers to conveniently and efficiently advertise and sell their crops, without any middlemen intervention.</p>
            </div>
            <div class="missionHeader d-flex align-items-center justify-content-center">
                <h1><b>Mission</b></h1>
            </div>
        </div>
    </section>
    <!-- end of content -->

    <%- include('footer'); %>

</body>
</html>