<footer class="text-dark text-center">
      <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    <section class="mb-4 mt-4">
      <!-- Facebook -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i class="fa fa-facebook"></i></a>

      <!-- Twitter -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i class="fa fa-twitter"></i></a>

      <!-- Instagram -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i class="fa fa-instagram"></i></a>

       <!-- email -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i class="fa fa-envelope"></i></a>

    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-dark">
    © 2023 Copyright - LapakTani
  </div>
  <!-- Copyright -->
</footer>