<header>

<nav class="navbar top-0">

     

            <div class="logo">
                <a href="/" style="text-decoration: none;"><h1 class="logo-header">LapakTani</h1></a>
            </div>
    
            <!-- <div class="link-page-button d-flex flex-row">
                
                <div class="nav-link">
                    <a href="/">Home</a>
                </div>
                <div class="nav-link">
                    <a href="/products">Products</a>
                </div>
                <div class="nav-link">
                    <a href="/aboutUs">About us</a>
                </div>
                
            </div> -->
    
            <div class="search-bar-wrapper">
                <div class="search-bar">
                    <form class="form" action="/filter_products" method="post">
                        <button>
                            <svg width="17" height="16" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="search">
                                <path d="M7.667 12.667A5.333 5.333 0 107.667 2a5.333 5.333 0 000 10.667zM14.334 14l-2.9-2.9" stroke="currentColor" stroke-width="1.333" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </button>
                        <input class="input" placeholder="search products category" type="search" name="product_category" style="border: none;">
                        <button class="reset" type="reset">
                            <!-- <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                            </svg> -->
                        </button>
                    </form>
                </div>
                <!-- <div class="form-login ml-4">
                    <button type="button" class="btn btn-outline-success"><a href="/login">Register/Login</a></button>
                </div> -->
    
                <!-- <div class="profie-wrapper">
                    <% if (locals.isLoggedIn) { %>
                        
                      <% } else { %>
                        
                      <% } %>
                </div> -->
            </div>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/products" class="nav-link">Products</a>
                </li>
                <li class="nav-item">
                    <a href="/aboutUs" class="nav-link">About us</a>
                </li>
                <% if (locals.isLoggedIn) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                  <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login/Register</a>
                    </li>
                  <% } %>
                  
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>


</nav>

</header>

<script>
    const hamburger = document.querySelector(".hamburger");
    const navMenu = document.querySelector(".nav-menu");

    hamburger.addEventListener("click", mobileMenu);

    function mobileMenu() {
        hamburger.classList.toggle("active");
        navMenu.classList.toggle("active");
    }

    const navLink = document.querySelectorAll(".nav-link");

    navLink.forEach(n => n.addEventListener("click", closeMenu));

    function closeMenu() {
        hamburger.classList.remove("active");
        navMenu.classList.remove("active");
    }
</script>